.roadmap {
    background-image: url('../../Assets/roadmap-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4rem;

    ._roadmap {
        h1.title {
            text-align: center;
            color: #fff;
            font-size: 45px;
            margin-top: 3rem;
        }

        .aman {
            padding: 3rem 0;

            &::before {
                content: url("../../Assets/Banner-2.png");
                left: calc(50% - 27px);
                position: sticky;
                right: auto;
                top: 100px;
                float: none;
                margin: auto;
                z-index: 9;
                height: 115px;
                width: 50px;
                display: inline-block;
            }

            .phases {
                display: flex;
                position: relative;
                top: -4rem;

                .box {
                    width: 50%;
                    flex-direction: column;
                    padding: 3rem;
                    padding-bottom: 0;

                    &:first-child {
                        border-right: 3px solid #fff;
                        align-items: flex-start;
                    }

                    &:last-child {
                        border-left: 3px solid #fff;
                        align-items: flex-end;
                    }

                    .content {
                        width: 90%;
                        padding: 3rem;
                        background-color: #242325;
                        border: 1px solid gray;
                        border-radius: 1rem;

                        h3.title {
                            font-size: 40px;
                            font-family: bios-bold;
                            color: #4DC1D4;
                        }

                        ul.para {
                            margin-top: 2rem;

                            li {
                                color: #ffffff8f;
                                line-height: 1.5rem;
                                font-weight: 200;
                            }
                        }

                    }

                    .blank {
                        height: 400px;
                    }
                }

                .onebox{
                    display: none !important;
                    border-right: none !important;
                    border-left: 3px solid #fff !important;
                }
                
            }
        }

    }
}

@media only screen and (max-width: 800px) {
    .roadmap {
        ._roadmap {
            .aman {
                &::before{
                    left: 50px;
                }
                .phases {
                    .box{
                        display: none;
                    }
                    .onebox{
                        margin-left: 45px;
                        display: flex !important;
                        width: 100% !important;
                        padding-right: 0 !important;

                        .content{
                            width: 100%;
                            margin-top: 3rem !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .roadmap {
        ._roadmap {
            .aman {
                &::before{
                    left: 20px;
                }
                .phases{
                    .onebox{
                        margin-left: 30px !important;
                        .content{
                            padding: 2rem;
                            h3.title{
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}