
.mintS{
    width: 100%;
    background-image: url("../../Assets/mint-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    position: relative;
    z-index: 3;
    overflow-x: hidden;
}

.timer{
    margin: 3rem 0;
    margin-top: 4rem;
}

@media only screen and (max-width: 1300px) {
    .timer {
        margin-top: 3rem;
    }    
}

@media only screen and (max-width: 1200px) {
    .mintS {
        padding-top: 2rem;
    }  
}

@media only screen and (max-width: 1100px) {
    .mintS {
        padding-top: 1rem;
    } 
}

@media only screen and (max-width: 550px) {
    .mintS {
        padding-top: 0;
        padding-bottom: 2rem;
    } 
}

#background{
	background-color: #24232580;
    flex-direction: column;
    padding-bottom: 2rem;
    border-radius: 3rem;
}
