.team{
    background: url("../../Assets/team-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0;
    h1.title{
        font-family: bios-bold;
        color: #4DC1D4;
        font-size: 60px;
        text-align: center;
    }

    .teams{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        margin-top: 4rem;
        .team_m{
            width: 250px;
            .pp{
                width: 100%;
                object-fit: cover;
                opacity: .6;
                cursor: pointer;
                transition: all 1s ease-in-out;

                &:hover{
                    opacity: 1;
                    box-shadow: 0 0 60px 3px #ff33bb;
                }
            }
            .dit{
                margin-top: 1rem;
            }
            h1.name{
                //color: #242325;
                color:white;
                font-size: 25px;
            }
            .tmsl{
                color: #ff33bb;
                background-color: #242325;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            .role{
                color: #fff;
                font-size: 20px;
                margin-top: .5rem;
            }
        }
    }
}



@media only screen and (max-width: 923px) {
    .team{
        .teams{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            .team_m{
                width: 250px;
            }
        }
    }
  }

@media only screen and (max-width: 845px) {
    .team{
        h1.title{
            font-size: 40px;
        }
        .teams{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            .team_m{
                width: 150px;
            }
        }
    }
  }

@media only screen and (max-width: 600px) {
    .team{
        overflow: hidden;
        h1.title{
            font-size: 35px;
        }
        .teams{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            .team_m{
                width: 100%;
            }
        }
    }
  }
