.mintbox,
.info {
    background-color: #242325;
    padding: 2rem 4rem;
    border-radius: 1rem;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid gray;

    .numbers {
        flex-direction: column;

        h1 {
            font-size: 30px;
            color: #fff;
            margin: 0 2rem;
        }

        button {
            font-size: 30px;
            background-color: #4CC1D3;
            border: none;
            outline: none;
            color: #fff;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        h2 {
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            margin-top: 1rem;
        }
    }

    .price {
        border-right: 2px solid gray;
        border-left: 2px solid gray;
        padding: 0 3rem;

        h1,
        h2 {
            font-size: 30px;
            color: #fff;
            text-align: center;
            font-weight: 400;
        }

        h2 {
            font-size: 20px;
            margin-top: 1rem;
        }
    }
}

.info {
    background: none;
    border: none;

    li {
        color: white;
        font-size: 18px;
        font-weight: 400;
    }
}

.btns {
    width: 60%;
    margin-top: 2rem !important;
}

button.sl {
    cursor: pointer;
    background-color: #4DC1D4;
    width: 250px;
    height: 50px;
    border-radius: .5rem;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    transition: all .3s ease-in-out;
    border: none;

    span {
        margin-right: .5rem;
        font-size: 25px;
    }

    &:hover {
        box-shadow: 0 0 20px #4DC1D4;
    }
}

@media only screen and (max-width: 1100px) {

    .mintbox,
    .info {
        padding: 2rem;
    }
    .btns{
        width: 90%;
    }
}


@media only screen and (max-width: 650px) {

    .mintbox,
    .info {
        padding: 2rem 1rem;

        .numbers {
            h1 {
                font-size: 18px;
                margin: 0 1rem;
            }

            button {
                font-size: 16px;
                width: 25px;
                height: 25px;
            }

            h2 {
                font-size: 16px;
                margin-top: 1rem;
            }
        }

        .price {
            padding: 0 2rem;

            h1,
            h2 {
                font-size: 18px;
            }

            h2 {
                font-size: 18px;
                margin-top: 1rem;
            }
        }
    }

    .info {
        li {
            font-size: 14px;
        }
    }

    .btns {
        width: 99%;
        margin-top: 2rem !important;
    }

    button.sl {
        width: 200px;
        height: 35px;
        font-size: 16px;

        span {
            margin-right: .5rem;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .mintbox , .info{
        flex-direction: column;

        h1,h2{
            font-size: 30px !important;
        }
    }
    .price{
        margin: 3rem 0;
    }

    .info {
        align-items: flex-start !important;
        li{
            margin: 1rem 0;
            font-size: 20px;
        }
    }

    .btns{
        flex-direction: column;

        button.sl {
            width: 250px;
            height: 50px;
            font-size: 18px;
            margin: 1rem 0;
        }
    }

}

