.ribbonS {
	width: 100%;
	height: 50px;
	background-color: rgb(195, 0, 75);
	display: flex;
	white-space: nowrap;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: 'akira';
	z-index: 10; 
	align-items: center;
	justify-content: center;
	position: relative;
	// ribbon wasn't overflowing before but it started showing a lateral slider?
	overflow: hidden;
}
