.footer{
    overflow: hidden;
    max-width: 1300px;
    padding: 0 2rem;
    margin: 0 auto;
    margin-top: 6rem;
    img{
        width: 300px;
    }

    .logo{
        width: 150px;
        position: relative;
        z-index: 4;
    }

    .text_field{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    h1.title{
        font-size: 45px !important;
        font-family: bios-bold;
        color: #4DC1D4 !important;
        margin-top: 1rem;
        font-weight: 700;
        margin-bottom: 0 !important;
        position: relative;
        z-index: 2;
    }

    h1.mail{
        color: #fff;
        margin: 2rem 0;
        font-size: 40px;
        position: relative;
        z-index: 2;
    }

    .text_field{
        a{
            color:#ff33bb;
        }
        a:hover{
            color:#fff;
        }
        a:active{
            color:#fff;
        }
        a:visited{
            color:#a300cc;
        }
    }

    .social_links{
        a{
            background-color: #4DC1D4;
            font-size: 30px;
            margin: 0 1rem;
            color: #fff;
            line-height: 0;
            width: 50px;
            height: 50px;
            border-radius: .5rem;
            transition: all .3s ease-in-out;

            &:hover{
                transform: scale(1.2);
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    .footer{
        img{
            width: 200px;
            filter: blur(2px);
            z-index: 1;
        }
        .logo{
            filter:  none;
        }
        h1.title{
            font-size: 30px !important;
        }
        h1.mail{
            font-size: 25px !important;
        }
    }
  }

