.banner_img{
    display: none;
}

#story{
    height:auto;

    .home-banner{
        //background-size: cover;
        //background-repeat: no-repeat;
        //padding: 4rem 0;
        //overflow: hidden;
        width: 100%;
        display:block;
    }
}

